<div color=white class="card-3">
		<div class="columna">
				<h2>Monitoreo de Máquinas</h2>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<h4>N° de Máquinas activas: <%= req.length %></h4>
		</div>
		<p>.</p>

		<div class="columna">
				<h2><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar máquinas..">
		</div>

		</div>

	<div class="columnaf"> 	
<p>
...........
</p>
<p></p>
<div id='mytable'>
	<table class="table table-hover table-dark" id="myTable" style="border:1px solid black">
	  <tr class="table-info">
	    <th>N°</th>
	    <th>SEGMID</th>
	    <th>Nombre de evento</th>	
	    <th>Fecha</th>
	    <th>Estado</th>
	  </tr>


	  <ul class="req">
		  <% for(var i = 0; i < req.length; i++) {%>
		  		  	<% 
	  	let imagen;
	  	switch(req[i].eventcode){
	  	case '0x11':
	  		imagen = 'https://cdn.discordapp.com/attachments/978327508262998036/978327611774230578/cerrado.png';
	  		break;
	  	case '0x12':
	  		imagen = 'https://cdn.discordapp.com/attachments/978327508262998036/978327577599041556/abierto.png';
	  		break;
	  	default: 
	  		imagen = 'https://cdn.discordapp.com/attachments/978327508262998036/981235599149236244/default.png';
	  	}
	  	%>
	  <tr>
	  	<td><%= i +1%></td>
	  	<td><%= req[i].segmid %></td>
	    <td><%= req[i].eventname %></td>
	    <td><%= req[i].eventtime %></td>
	    <td> <img src=<%=imagen%> alt="Estado"></td>

	  </tr>
	    <% } %>
	</div> 
	</ul>
	</table>
</div>


<script>

var autoLoad = setInterval(
function ()
{
			var currenturl = window.location.href;
   $('#mytable').load(`${currenturl} #mytable`);
}, 1000);

			
</script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>