<table class="table table-hover table-dark" style="width:100%">
	  <tr class="table-info">
	  	<th>N°</th>
	  	<th>Nombre</th>
	    <th>Usuario</th>
	    <th>Host</th>
	    <th>Database</th>
	    <th>Editar</th>
	  </tr>

	  <ul class="Cookies">	
		  <ul class="User">
			  <% for(var i = 0; i < User.length; i++) {%>
		  <tr>
		  	 <% for(var k = Cookies; k===User[i].user; k++) {%>
		  	<td><%= i %></td>
		    <td><%= User[i].nombre %></td>
		    <td><%= User[i].user %></td>
		    <td><%= User[i].host %></td>
		    <td><%= User[i].database %></td>
		    <td><a href="/salas/listarevs/<%= User[i]._id %>" class="btn btn-outline-light">Visitar</a></td>
		  		<% } %>
		  </tr>
		    <% } %>
		  </ul>
	</ul>
	</table>